body{
    
}

.principal{

    background: #FFF1D0;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5%;
    width: 100%;
    font-size: 25px;
}

p {
    text-align: center;
}  

#missão {
      
      font-size: 20px;

}

h1{
    text-align:center;
    height: 80px;
    border: 10px solid #0000;
    margin: 30px;
}

em strong{
    color: #DD1C1A;;
}

.itens{
    font-style: italic;

}

.Benefícios{
    padding-bottom: 5%;
    width: 25%;
    background: #F0C808;
    border-radius: 10%;
    position: absolute;
    text-align: center;
    font-size: 25px;
}

#modelo1{
    padding-bottom: 20%;
    float: center;
  
}
