body{
    
}

#banner{
    width: 100%;

}

.principal{

    background: #F0C808;
    border-radius: 10%;
    text-align: center;
    padding-bottom: 10%;
}

p {
    text-align: center;
}  

#missão {
      
      font-size: 20px;

}

h1{
    text-align:center;
    height: 150px;
    border: 10px solid #0000;
    padding-top: 10px;
    margin: 40px;
}

em strong{
    color: red;
}

.itens{
    font-style: italic;

}

.Benefícios{
    padding-bottom: 5%;
    background: #086788;
    border-radius: 10%;
    position: absolute;
    text-align: center;
}
