body{
    background: linear-gradient(#342434,rgba(127, 189, 64, 0.267));


}

p {
    text-align: center;
}  

#missão {
      
      font-size: 20px;

}

h1{
    text-align:center;
    height: 150px;
    border: 10px solid #0000;
    padding-top: 10px;
    margin: 40px;
}

em strong{
    color: red;
}
